.story-page {
    padding: 317px 0 48px;
    background: url("../assets/stories/mobile/moon-of-appalacia.jpg") no-repeat center;
    background-size: cover;

    h1 {
        padding: 16px 0;
    }
}

.story-box {
    color: white;
    position: relative;
    height: 375px;
    transition: .4s;

    .s-wrapper {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 375px;
        padding: 0 30px 15px;
    }

    .title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
    }

    .writer {
        font-size: 13px;
        line-height: 17px;
    }

    hr {
        opacity: 0.25;
        margin-top: 16px;
    }

    .invite-wrapper {
        justify-content: space-between;

        .link {
            color: white;
        }
    }

    .arrow {
        filter: invert(1);
    }

    a {
        color: white;
    }
}

.edition {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
}

.date,
.writer {
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
}

.stories .date {
    opacity: 0.75;
}

.story-box .date {
    font-size: 13px;
    line-height: 17px;
    padding-bottom: 4px;
}

.mountains{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
    url("../assets/stories/mobile/mountains.jpg") no-repeat center;
    background-size: cover;
}

.sunset {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/cityscapes.jpg") no-repeat center;
    background-size: cover;
}

.voyage {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/18-days-voyage.jpg") no-repeat center;
    background-size: cover;
}

.architecturals {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/architecturals.jpg") no-repeat center;
    background-size: cover;
}

.world-tour {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/world-tour.jpg") no-repeat center;
    background-size: cover;
}

.unforeseen-corners {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/unforeseen-corners.jpg") no-repeat center;
    background-size: cover;
}

.king-on-africa {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/king-on-africa.jpg") no-repeat center;
    background-size: cover;
}

.trip-to-nowhere {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/trip-to-nowhere.jpg") no-repeat center;
    background-size: cover;
}

.rage-of-the-sea {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/rage-of-the-sea.jpg") no-repeat center;
    background-size: cover;
}

.running-free {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/running-free.jpg") no-repeat center;
    background-size: cover;
}

.behind-the-waves {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/behind-the-waves.jpg") no-repeat center;
    background-size: cover;
}

.calm-waters {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/calm-waters.jpg") no-repeat center;
    background-size: cover;
}

.milky-way {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/milky-way.jpg") no-repeat center;
    background-size: cover;
}

.dark-forest {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/dark-forest.jpg") no-repeat center;
    background-size: cover;
}

.somwarpet {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/somwarpet.jpg") no-repeat center;
    background-size: cover;
}

.land-of-dreams {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
        url("../assets/stories/mobile/land-of-dreams.jpg") no-repeat center;
    background-size: cover;
}

@media (min-width: 768px) {

.story-page{
    padding: 0;
    height: 768px;
    background: url("../assets/stories/tablet/moon-of-appalacia.jpg") no-repeat center;
    background-size: cover;
    
    .wrapper{
        justify-content: flex-start;
    }

    .content{
        padding-left: 39px;
    }
}

    .stories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .story-box {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
            url("../assets/stories/desktop/mountains.jpg") no-repeat cover;
        width: 50%;
        min-width: 300px;
        height: 500px;
        cursor: pointer;

        &:hover {
            transform: translate(0, -10px);
            transition: .4s;
        }
    }

}

@media (min-width: 1300px) {
    .story-box{
        width: 25%;
    }

    .story-page{
        height: 600px;
        background: url("../assets/stories/desktop/moon-of-appalacia.jpg") no-repeat center;
        background-size: cover;

        .content{
            padding-left: 122px;
            width: 509px;
        }
    }
    .mountains {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
            url("../assets/stories/desktop/mountains.jpg") no-repeat center;
        background-size: cover;
    }

    .sunset {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
            url("../assets/stories/desktop/cityscapes.jpg") no-repeat center;
        background-size: cover;
    }

    .voyage {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
            url("../assets/stories/desktop/18-days-voyage.jpg") no-repeat center;
        background-size: cover;
    }

    .architecturals {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%),
            url("../assets/stories/desktop/architecturals.jpg") no-repeat center;
        background-size: cover;
    }

}